* {
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}

.randomtext__generator {
    display: flex;
    justify-content: center;
    margin: 40px 40px 20px 40px; 
}

.randomtext__generator p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.5em;
    pointer-events: none;
    user-select: none;
}

.randomtext__generator  p  span {
    margin-bottom: 5px;
}

.user__typedtext{
    display: flex;
    justify-content: center;
}

.user__typedtext input {
    outline-width: 0;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    width: 300px;
    height: 30px;
    font-size: 1.5em;
}

